* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.conteiner {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 146, 209);
    height: 50vh;
    width: 50%;
}

.conteiner2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 146, 209);
    height: 50vh;
    width: 50%;
}

.inputpai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.inputpai2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.imgpai {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 80px;
    margin-left: 1px;
    height: 75%;
    width:0;
}

.imgpai2 {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 160px;
    margin-left: 1px;
    height: 75%;
    width:0;
}

.divparagrafo {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.input {
    height: 50px;
    width: 90%;
    margin: 0;
    font-size: larger;
}

#img1,
#img2,
#img3,
#img4 {
    height: 30px;
    width: 30px;
}

#img1{
    display: flex;
}

#img2 {
    display: none;
}

#img3 {
    display: flex;
}

#img4 {
    display: none;
}

.BTN {
    display: flex;
    text-wrap: wrap;
    width: 46%;
    background-color: aqua;
    margin-top: 10px;
    cursor: pointer;
}

.Link {
    text-decoration: none;
}

p {
    font-size: larger;
    margin-top: 30px;
}

.Titolo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: #fff;
    height: 100%;
    width: 100%;
}

@media (max-width: 320px) {
    

    .conteiner {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgb(61, 22, 22);
        height: 50vh;
        width: 95%;
    }
    
    .conteiner2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(9, 146, 209);
        height: 50vh;
        width: 95%;
    }

    .input {
        height: 50px;
        width: 150%;
        margin: 0px;
        font-size: larger;
    }

    .BTN {
        display: flex;
        text-wrap: wrap;
        width: 86%;
        background-color: aqua;
        margin-top: 10px;
        cursor: pointer;
    }

    .imgpai {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-bottom: 135px;
        height: 100%;
    }
    
    .imgpai2 {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-bottom: 135px;
        height: 75%;
    }
}
